services:
  - type: web
    name: flask-script-manager
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 10000
    healthCheckPath: /speed